/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 30, 2019, 1:41:40 AM
    Author     : Anthony
*/

.head{
    background-color: black;
    color: #097fed;
}

.blanca{
    color: white;
}

